Imports:

In [207]:
# !pip install pandas
# !pip install numpy
# !pip install matplotlib
# !pip install scikit-learn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model as lm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier

# Data Retrieval

In [208]:
dialogue = pd.read_csv(("https://raw.githubusercontent.com/"
 "rfordatascience/tidytuesday/master/data/"
 "2020/2020-09-08/friends.csv"))

print("Example Dialogue:")
dialogue.sample(4)

Example Dialogue:

,text,speaker,season,episode,scene,utterance
10943,"My fish, Buddy.",Eddie Menuek,2,18,10,7
30758,Hi.,Joey Tribbiani,5,13,12,2
42945,Warm milk and Excedrin P.M.,Joey Tribbiani,7,6,6,40
2306,Just aim for the bump.,Carol Willick,1,9,9,3

In [209]:
episodes = pd.read_csv(("https://raw.githubusercontent.com/"
 "rfordatascience/tidytuesday/master/data/"
 "2020/2020-09-08/friends_info.csv"))

print("Example Episode:")
episodes.sample(4)

Example Episode:

,season,episode,title,directed_by,written_by,air_date,us_views_millions,imdb_rating
70,3,23,The One with Ross's Thing,Shelley Jensen,Ted Cohen & Andrew Reich,1997-05-01,24.2,8.1
46,2,23,The One with the Chicken Pox,Michael Lembeck,Brown Mandell,1996-05-09,26.1,8.1
64,3,17,The One Without the Ski Trip,Sam Simon,Shana Goldberg-Meehan & Scott Silveri,1997-03-06,25.8,8.3
138,6,18,The One Where Ross Dates a Student,Gary Halvorson,Seth Kurland,2000-03-09,20.5,8.3

# Preprocessing

In [210]:


# 6 Main Character Names
main_character_names = ["Ross Geller", "Monica Geller",
                        "Phoebe Buffay", "Chandler Bing",
                        "Joey Tribbiani", "Rachel Green"]


#Filters Out Non Dialogue Rows
all_dialogue = dialogue[~dialogue["speaker"].isin(["Scene Directions", "#ALL#", "NA"])]


#Indexs of  MAIN CHARACTER DIALOGUE
dialogue_mc_indexs = all_dialogue["speaker"].isin(main_character_names)

#Indexs of OTHER CHARACTER DIALOGUE
dialogue_oc_indexs = ~all_dialogue["speaker"].isin(main_character_names)

#Indexs of EXCLAMATORY DIALOGUE
dialogue_exclamatory_indexs = all_dialogue["text"].str.contains(r'[A-Z]{2,}') | all_dialogue["text"].str.contains(r'!')

In [211]:
#FUNCTION TO APPLY

def sum_size(x):
    return x.str.len().sum()

# Processing 1/4: Adding Episode Level Dialogue Info

In [212]:

#Table To Store Episode Level Dialogue Summary
jt_1 = all_dialogue.groupby(["season", "episode"]).agg("first").reset_index().drop(columns=["scene", "utterance", "speaker", "text"])

jt_1.head(2)

   season  episode
0       1        1
1       1        2

In [213]:
#Grouped Data
gp = all_dialogue.groupby(["season", "episode"])

#Adding Total Words In Episode
jt_1 = pd.merge(jt_1, gp["text"].size().reset_index(name="total_words"))

#Adding Total Lines In Episode
jt_1 = pd.merge(jt_1, gp["text"].agg(sum_size).reset_index(name="total_lines"))

#Adding Total Scenes In Episode
jt_1 = pd.merge(jt_1, gp["scene"].nunique().reset_index(name="total_scenes"))

#Adding Total Speakers In Episode
jt_1 = pd.merge(jt_1, gp["speaker"].nunique().reset_index(name="total_speakers"))

jt_1.head(5)

   season  episode  total_words  total_lines  total_scenes  total_speakers
0       1        1          292        16876            15              11
1       1        2          241        12249            11              14
2       1        3          237        12070            14              10
3       1        4          248        12532            16              14
4       1        5          238        12626            16              10

In [214]:

#Grouped Data (All NON-MAIN Characters Lines By Episodes)
gp = all_dialogue[dialogue_oc_indexs].groupby(["season", "episode"])


# Adding Total Lines By NON-MAIN characters
jt_1 = pd.merge(jt_1, gp["text"].size().reset_index(name="oc_lines"))

#Adding Total Scenes By NON-MAIN characters
jt_1 = pd.merge(jt_1, gp["scene"].nunique().reset_index(name="oc_scenes"))


#Grouped Data (All NON-MAIN Characters Exclamatory Lines By Episode)
gp = all_dialogue[dialogue_oc_indexs & dialogue_exclamatory_indexs].groupby(["season", "episode"])

#Adding Total Exclamatory Lines By Non Main Characters
jt_1 = pd.merge(jt_1, gp["text"].size().reset_index(name="oc_exclam"))

jt_1.head(5)

,season,episode,total_words,total_lines,total_scenes,total_speakers,oc_lines,oc_scenes,oc_exclam
0,1,1,292,16876,15,11,27,9,5
1,1,2,241,12249,11,14,69,8,19
2,1,3,237,12070,14,10,24,6,3
3,1,4,248,12532,16,14,31,6,10
4,1,5,238,12626,16,10,34,10,2

# Processing 2/4: Adding Character Level Dialogue Info

In [225]:
#Table To Store Character Level Dialogue Summary
# (WILL BE PIVOTED INTO ABOVE FORM BELOW)

jt_2 = all_dialogue[dialogue_mc_indexs].groupby(["season", "episode", "speaker"]).agg("first").reset_index().drop(columns=["scene", "utterance", "text"])

jt_2.head(6)

   season  episode         speaker
0       1        1   Chandler Bing
1       1        1  Joey Tribbiani
2       1        1   Monica Geller
3       1        1   Phoebe Buffay
4       1        1    Rachel Green
5       1        1     Ross Geller

In [226]:
#Grouped Data (All Main Character Dialogue By Episode, Speaker)
gp = all_dialogue[dialogue_mc_indexs].groupby(["season", "episode", "speaker"])

#Adding Total Lines Per Main Character
jt_2 = pd.merge(jt_2, gp["text"].size().reset_index(name="lines"))

#Adding Total Scenes Per Main Character 
jt_2 = pd.merge(jt_2, gp["scene"].nunique().reset_index(name="scene"))



#Grouped Data (All Main Character Exclamatory Lines, By Episode, Speaker)
gp = all_dialogue[dialogue_mc_indexs & dialogue_exclamatory_indexs].groupby(["season", "episode", "speaker"])

#Adding Total Exclamatory Lines By Main Character
jt_2 = pd.merge(jt_2, gp["text"].size().reset_index(name="exclam_lines"))


jt_2.head(6)

   season  episode         speaker  line  scene  exclam_line
0       1        1   Chandler Bing    39      9            8
1       1        1  Joey Tribbiani    39      8           11
2       1        1   Monica Geller    73      9           20
3       1        1   Phoebe Buffay    19      6            5
4       1        1    Rachel Green    48      8           15
5       1        1     Ross Geller    47      8            8

In [227]:

#Pivoting Table (To Ensure One Row Per Episode)
jt_2 = jt_2.pivot(index=["season", "episode"], columns="speaker", values=["line", "scene", "exclam_line"]).reset_index(inplace=False)

#Renaming Columns + Reseting Index
jt_2.columns = ['_'.join(map(str, col)).strip() for col in jt_2.columns.values]
jt_2.reset_index(inplace=False)
jt_2.rename(columns={"season_":"season", "episode_":"episode"}, inplace=True)


jt_2.head(6)

,season,episode,line_Chandler Bing,line_Joey Tribbiani,line_Monica Geller,line_Phoebe Buffay,line_Rachel Green,line_Ross Geller,scene_Chandler Bing,scene_Joey Tribbiani,scene_Monica Geller,scene_Phoebe Buffay,scene_Rachel Green,scene_Ross Geller,exclam_line_Chandler Bing,exclam_line_Joey Tribbiani,exclam_line_Monica Geller,exclam_line_Phoebe Buffay,exclam_line_Rachel Green,exclam_line_Ross Geller
0,1,1,39.0,39.0,73.0,19.0,48.0,47.0,9.0,8.0,9.0,6.0,8.0,8.0,8.0,11.0,20.0,5.0,15.0,8.0
1,1,2,16.0,8.0,28.0,14.0,38.0,68.0,4.0,4.0,5.0,4.0,6.0,9.0,2.0,1.0,5.0,9.0,8.0,10.0
2,1,3,36.0,28.0,52.0,38.0,26.0,33.0,9.0,8.0,10.0,8.0,8.0,8.0,13.0,9.0,5.0,12.0,5.0,4.0
3,1,4,32.0,24.0,47.0,31.0,43.0,40.0,10.0,7.0,8.0,7.0,9.0,9.0,8.0,9.0,11.0,12.0,14.0,5.0
4,1,5,35.0,36.0,33.0,NaN,37.0,40.0,7.0,8.0,8.0,NaN,6.0,7.0,3.0,2.0,3.0,NaN,5.0,2.0
5,1,6,58.0,31.0,34.0,10.0,15.0,22.0,7.0,7.0,6.0,5.0,5.0,5.0,9.0,11.0,12.0,5.0,4.0,5.0

# Processing 3/4: Adding Episode Review/Viewership Info

In [228]:
#Taking Existing Episode df and dropping certain attributes
jt_3 = episodes.drop(columns=["title", "directed_by", "written_by", "air_date"])

jt_3.head(6)

   season  episode  us_views_millions  imdb_rating
0       1        1               21.5          8.3
1       1        2               20.2          8.1
2       1        3               19.5          8.2
3       1        4               19.7          8.1
4       1        5               18.6          8.5
5       1        6               18.2          8.1

# Processing 4/4: Joining Tables + Summary

In [232]:
#JOINING ALL STATISTICS INTO A SINGLE DATA TO CREATE A MODEL FROM

joined_table_final = pd.merge(pd.merge(jt_1, jt_2, on=["season", "episode"]), jt_3, on=["season", "episode"])

joined_table_final.head(2)

,season,episode,total_words,total_lines,total_scenes,total_speakers,oc_lines,oc_scenes,oc_exclam,line_Chandler Bing,...,scene_Rachel Green,scene_Ross Geller,exclam_line_Chandler Bing,exclam_line_Joey Tribbiani,exclam_line_Monica Geller,exclam_line_Phoebe Buffay,exclam_line_Rachel Green,exclam_line_Ross Geller,us_views_millions,imdb_rating
0,1,1,292,16876,15,11,27,9,5,39.0,...,8.0,8.0,8.0,11.0,20.0,5.0,15.0,8.0,21.5,8.3
1,1,2,241,12249,11,14,69,8,19,16.0,...,6.0,9.0,2.0,1.0,5.0,9.0,8.0,10.0,20.2,8.1

#### THE ABOVE TABLE CONTAINS THE FOLLOWING: ON PER EPISODE BASIS

     "total_words" -       The Number Of Words Spoken

     "total_lines" -       The Number Of Lines Spoken

     "total_scenes" -      The Number Of Scenes

     "total_speakers" -    The Number Of Total Characters Who Speak

     "oc_lines" -          The Number Of Lines Collectively Spoken By All Non-Main Characters

     "oc_scenes" -         The Number Of Scenes In Which A Non-Main Character Speaks

     "oc_exclam" -         The Number Of Exclamatory Lines (upper case word, or exclamation point)
                           Collectively Spoken By All Non-Main Characters

     "us_views_millions" - The Number Of Viewers This Episode Had When Released (EXISTING NOT DERIVED)

     "imdb_rating" -       The Rating Given To The Episode By IMDB (EXISTING NOT DERIVED)


     COL: For All 6 Main Character Names (MCN)

          "lines_{MCN}" -         The Number Of Lines Spoken By This Main Character

          "scenes_{MCN}" -        The Number Of Scenes Spoken In By This Main Character

          "exclam_lines_{MCN} -   The Number Of Exclamatory Lines (Upper Case Word, or Exclamation point)
                                   Spoken By This Main Character

# Inference Task

In [220]:
# I want to verify that lots of exclamation changes episode IMDb rating 

# Resampling import to use in bootstrapping 
from sklearn.utils import resample

# Two populations: IMDb ratings and Viewership 
df_regr = (master_list
    .groupby(['episode', 'season'])
    .agg({'Speaker_Exclaim': 'sum', 'Speaker_Exclaimed_Toward': 'sum', 'us_views_millions': 'mean', 'imdb_rating': 'mean'})
    .reset_index()
)
mean_exclamation = np.mean(df['Speaker_Exclaim'])
pop1 = df[df['Speaker_Exclaim']>mean_exclamation]['imdb_rating']
pop2 = df['imdb_rating']

# Define number of bootstrap resamples
n_resamples = 1000
mean_diffs = np.zeros(n_resamples)

#  Bootstrapping procedure (add difference in each resample mean to the list)
for i in range(n_resamples):
    s1 = resample(pop1, replace=True)
    s2 = resample(pop2, replace=True)
    mean_diffs[i] = np.mean(s1)-np.mean(s2) 
    
# Confidence interval 
ci_95 = np.percentile(mean_diffs, [2.5, 97.5]) 

# Mean Difference 
mean_difference = np.mean(mean_diffs)

NameError: name 'master_list' is not defined